.todo-list {
  width: 400px;
  padding: 0 20px;
  border: 1px #999 solid;
  border-radius: 20px;
}

.list-item {
  padding: 10px;
  line-height: 32px;
  user-select: none;
  margin: 10px 0;
  color: white;
  background-color: #666;
}
